<div id="app" style="height: 400px; overflow:scroll">
	<div>
		<div><img :src="picPath" height="80" width="80"></div>
		<select
		v-model="action"
		>
		  <option value ="GET">GET</option>
		  <option value ="POST">POST</option>
		</select>
		<label>地址</label>
		<input type="text" 
		v-model="address"
		id="address"/>
		<button @click="onBtnClick">发送</button>
	</div>
	<div>
		<label>头部</label>
		<textarea
		style="width:200px;height:50px"
				v-model="header"
		></textarea>
	</div>
	<div>
		<label>入参</label>
		<textarea
		style="width:200px;height:50px"
		v-model="body"
		></textarea>
	</div>
	<div>
		<label>回参</label>
		<textarea 
		style="width:200px;height:50px"
		v-model="retJson"
		></textarea>
	</div>
</div>
